/*
stylesheet by Pakrett
*/

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto&family=ZCOOL+KuaiLe&display=swap');


/* --- VARIABLES --- */
:root{
	--color-pink: #ff00ff;
	--color-yellow: #fee690;
	--color-purple: #a300e0;
	--color-purple-light:#c800ef;
	--color-dark: #000000;
	--color-light: #ffffff;
}

/* --- GLOBAL --- */

body{
	background-color: var(--color-pink);
	color: var(--color-light);
	font-family: 'Roboto', sans-serif;
}
a, a:active, a:visited{
	color: var(--color-purple);
}
a:hover{
	color: var(--color-pink);
}

h1{
	font-family: 'ZCOOL KuaiLe', cursive;
}

h2, h3{
	font-family: 'Bowlby One SC', cursive;
	color: white;
	box-shadow: -1rem 0.2rem black;
	display:  inline-block;
}
.cts{
	background-color: transparent;
	border: solid var(--color-pink);
	color: var(--color-pink);
	border-radius: 50px;
}
.cts:hover{
	background-color: var(--color-pink);
	border: solid var(--color-pink);
	color: var(--color-light);
}

@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

#background{
	position: fixed;
	overflow: hidden;
    top: 0;
    height: 100%;
    width: 100%;
}
#background::before {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -100%;
	left: -50%;
	background: url(img/deco-light-1.png) 0 0 no-repeat;
	opacity: 0.4;
	background-position: center;
	transform: rotate(0deg);
	animation: rotate 60s linear infinite;
}

/* --- HEADER --- */

header nav{
	background-color: var(--color-dark);
	color: var(--color-light);
}

.navbar-header a, .navbar-header a:active, .navbar-header a:visited{
	font-family: 'Bowlby One SC', cursive;
	font-size: 1.3rem;
	color: var(--color-light);
}

.navbar-header a:hover{
	color: var(--color-pink);
	background-color: white;
}

header .nav-link{
	padding-right: 2rem;
}

/* --- MAIN --- */

#home-page{
	padding-top: 100px;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#home-page section{
	background-color: var(--color-purple-light);
}

/* --- FOOTER --- */

#nav-footer{
	background-color: var(--color-dark);
	color: var(--color-light);
    bottom: 0;
    width: 100%;
}

.navbar-footer a, .navbar-footer a:active, .navbar-footer a:visited{
	color: var(--color-light);
}

.navbar-footer a:hover{
	color: var(--color-pink);
}

.form-newsletter{
	max-width: 300px;
}

@keyframes deco-bottom-anim{
	from{background: url(img/deco-bottom-1.png) bottom no-repeat;background-size: contain;}
	to{background: url(img/deco-bottom-2.png) bottom no-repeat;background-size: contain;}
}
.deco-bottom{
	background: url(img/deco-bottom-1.png) bottom no-repeat;
	animation: deco-bottom-anim 0.5s infinite alternate steps(2, jump-none);
	background-size: contain;
	min-height: 256px;
	width: 100%;
}