/*
stylesheet by Pakrett
*/

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:wght@100;300;500&display=swap');


/* --- VARIABLES --- */
:root{
	--color-pink: #ff00ff;
	--color-purple: #540072;
	--color-dark: #000000;
	--color-light: #ffffff;
	--font-title: 'Bowlby One SC', 'arial black', sans-serif;
	--font-text: 'Roboto', sans-serif;
}

/* --- GLOBAL --- */

body{
	background-color: var(--color-pink);
	color: var(--color-light);
	font-family: var(--font-text);
}
a, a:active, a:visited{
	color: var(--color-dark);
	text-decoration: none;
}
a:hover{
	color: var(--color-purple);
}

h1{
	font-family: var(--font-title);
	text-transform: uppercase;
}

h2{
	font-family: var(--font-title);
	text-transform: uppercase;
	box-shadow: -1rem 0.2rem black;
	margin-bottom: 1.5rem;
	padding-left: 10px;
	color: white;
	display:  inline-block;
}
h3{
	text-transform: uppercase;
	font-weight: 300;
}

.form-control{
	border: none;
	border-radius: 0px;
}
.dropdown-menu{
	background-color: black;
	border-radius: 0;
}

@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

#background{
	position: fixed;
	overflow: hidden;
    top: 0;
    height: 100%;
    width: 100%;
}
#background::before {
	content: "";
	position: absolute;
	width: 200%;
	height: 200%;
	top: -100%;
	left: -50%;
	background: url(img/deco-light-1.png) 0 0 no-repeat;
	opacity: 0.4;
	background-position: center;
	transform: rotate(0deg);
	animation: rotate 60s linear infinite;
}

/* --- HEADER --- */

header nav{
	background-color: var(--color-dark);
	color: var(--color-light);
}

.navbar-header a, .navbar-header a:visited, .navbar-header a:active{
	font-family: var(--font-title);
	text-transform: uppercase;
	font-size: 1.2rem;
	color: var(--color-light);
}

.navbar-header .active a{
	color: var(--color-pink);
}
.navbar-header a:not(.navbar-brand):hover{
	color: var(--color-pink);
	background-color: white;
}

header .nav-link{
	padding-right: 2rem;
}

/* --- MAIN --- */

main{
	padding-top: 100px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main .container{
	max-width: 750px;
	margin: auto;
}

main ul {
	list-style: none; 
}
  
main ul li::before {
	content: "\25A0";
	color: black;
	font-size: larger;
	padding: .5rem;
}

.btn-big{
	font-family: var(--font-title);
	font-size: 1.5rem;
	background-color: #000000;
	color: white;
	width: 250px;
	padding: 1rem;
	border:none;
	border-radius: 0;
}
.btn-big:hover{
	background-color: white;
	color: var(--color-pink);
	box-shadow: inset 1rem -0.2rem black;
}

.btn-cta{
	background-color: transparent;
	border: solid black;
	color: white;
	border-radius: 0px;
	font-size: 1.2rem;
	transition: box-shadow linear 0.2s;
	box-shadow: inset 0 0 black;
}
.btn-cta:hover{
	color: white;
	box-shadow: inset 15rem 0 black;
}

.form-newsletter{
	max-width: 500px;
}

/* --- FOOTER --- */

#nav-footer{
	background-color: var(--color-dark);
    padding: 1rem;
    width: 100%;
}

.navbar-footer li{
	display: flex;
	align-items: center;
}

@media (min-width: 768px){
	.navbar-footer li:not(:first-child)::before{
		content: "|";
		padding: 0 1rem;
	}	
}


.navbar-footer a, .navbar-footer a:active, .navbar-footer a:visited{
	color: rgba(255, 255, 255, 0.7);
}

.navbar-footer a:hover{
	color: var(--color-pink);
}

/* --- PROGRAM --- */

#program .artist-name{
	font-family: var(--font-title);
	font-size: 1.4rem;
	color: white;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow:0 0 1em var(--color-pink);
}

#program .line-100{
	background-color: white;
	height: .5rem;
	width: 100%;
	margin-bottom: 1rem;
}

.artist-img::after {
	content: "\a";
	backdrop-filter: saturate(2);
	background-image: url(img/bg-artist.png);
	background-size: contain;	
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    opacity:0;
}
.artist-img:hover::after {
    opacity:1;
}

@media (max-width: 768px){
	#program{
		text-align:center;
	}
}
/* --- MAP --- */

#map{
	position: relative;
}

#map .map-point{
	background-color: black;
	color: white;

	min-width: 3rem;
	min-height: 3rem;
	padding: 0 1rem;

	position: absolute;
	z-index: 1;

	cursor: pointer;
    outline: none;
	border-radius: 2rem;
	border: 3px solid rgb(255, 255, 255);
	transform: translate(-50%);
}

#map .info-point{
	display: none;
}

/* --- ANIMATIONS --- */

@keyframes deco-bottom-anim{
	from{background: url(img/deco-bottom-1.png) bottom no-repeat;background-size: contain;}
	to{background: url(img/deco-bottom-2.png) bottom no-repeat;background-size: contain;}
}
.deco-bottom{
	background: url(img/deco-bottom-1.png) bottom no-repeat;
	animation: deco-bottom-anim 0.5s infinite alternate steps(2, jump-none);
	background-size: contain;
	min-height: 45vh;
	width: 100%;
}


